<p>This is the Toplist component!</p>

<button class="btn btn-primary" (click) = "getToplist(true)">Global</button>
<button class="btn btn-primary" (click) = "getToplist(false)">Friends</button>

<div *ngIf="isGlobal; else friendList">
    <h2>Top users</h2>
</div>
<ng-template #friendList>
    <h2>Top friends</h2>
</ng-template>

<div *ngFor="let topUser of topList" class="toplistCard">
    <div *ngIf="topUser[0].id == this.datastore.user.id; else others">
        <h4 class="text-primary">{{topUser[1]}}. {{topUser[0].name}} -  {{topUser[0].healthScore}} HP</h4>
    </div>
    <ng-template #others>
        <h4>{{topUser[1]}}. {{topUser[0].name}} -  {{topUser[0].healthScore}} HP</h4>
    </ng-template>
</div>