<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    

    <div class="d-block d-sm-none w-100">
        <button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">hamm
        </button>
        <div id="collapseBasic" [collapse]="!isCollapsed" [isAnimated]="true">
            <button type="button" class="btn btn-primary btn-block" routerLink="/">Home</button>
            <button type="button" class="btn btn-primary btn-block" routerLink="/profile">Profile</button>
            <button type="button" class="btn btn-primary btn-block" routerLink="/toplist">Toplist</button>
        </div>
    </div>
    <div class="d-none d-sm-block">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/toplist">Toplist</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>