<nav>
    <h2>Menu</h2>
    <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/profile">Profile</a></li>
        <li><a routerLink="/toplist">Toplist</a></li>
    </ul>

    <!-- https://valor-software.com/ngx-bootstrap/#/dropdowns -->
    <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
            aria-controls="dropdown-basic">
            <span style="font-style: italic;">Fancy</span> menu <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" routerLink="/">Home</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="/profile">Profile</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="/toplist">Toplist</a></li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>
