<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label>Birth Date</label>
            <input class="form-control" bsDatepicker #datepickerYMD="bsDatepicker" bsDatepicker
                [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" [bsValue]="birthDate">
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label>Sex</label>
            <input type="text" class="form-control" [(ngModel)]="sex">
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label>Height in cm</label>
            <input type="text" class="form-control" [(ngModel)]="height">
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label>Weight in kg</label>
            <input type="text" class="form-control" [(ngModel)]="weight">
        </div>
    </div>
</div>
<button class="btn btn-primary" type="submit" (click)="save()">Save</button>
<hr>