<div class="text-center" style="margin-top: 10pt">Here you can find information about all of the screenings we know!</div>

<div style="margin: 2em;">
    <input [(ngModel)]="selected" [typeahead]="states" class="form-control">
</div>


<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{modalScreening.name}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <img class="img-fluid" src="https://i.pinimg.com/originals/8d/20/81/8d2081bfe6b37850990126351a1c556a.png"
            alt="Card image cap">
        {{modalScreening.screeningInfo}}
    </div>
</ng-template>

<div class="row" *ngFor="let screening of screenings">
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 mb-4">
        <div class="card">
            <img class="card-img-top" src="https://i.pinimg.com/originals/8d/20/81/8d2081bfe6b37850990126351a1c556a.png"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{screening.name}}</h5>
                <p class="card-text">{{screening.screeningInfo}}</p>
                <button type="button" class="btn btn-primary" (click)="openModal(screening, template)">Details</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="screenings.length === 0" style="text-align: center;">
    <p>Sorry, we couldn't find it :(</p>
    <img src="/assets/octo_sad.png" />
</div>
