<div class="row mt-4 d-flex">
    <div class="col-6 m-auto">
        <div class="avatar" routerLink="/profile">
            <img class="avatar__img" src="https://www.mindmegette.hu/images/143/O/crop_201603091554_hamburger.jpg" />
        </div>
    </div>
    <div class="col-12 m-auto">
        <h4 class="text-center mt-2">
            {{datastore.user.name}}
        </h4>
    </div>
</div>

<hr>

<h2>Suggested screenings</h2>

<div class="card screeningCard" *ngFor="let screening of datastore.user.suggestedScreenings">
    <div class="card-header">
        {{screening.screening.name}}
    </div>
    <div class="card-body">
        <h5 class="card-title">You probably need this treatment</h5>
        <p class="card-text">{{screening.screening.screeningInfo}}</p>
        <a href="#" class="btn btn-primary">More info</a>
    </div>
</div>
