/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.avatar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 4px 16px rgb(0 0 0 / 10%);
    padding-bottom: 100%;
    width: 100%;
    user-select: none;
    height: 0;

    &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
        z-index: 1;
    }
    &__container {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        border-radius: 50%;
        overflow: hidden;
    }
}

.bg-lightcoral{
    background-color: #eec8c8;
    border-radius: 8px;
}

.h3-1{
    padding-left: 10pt;
    padding-bottom: 10pt;
    font-size: 20pt;
    font-weight: 500;
}

.circular-chart {
    display: block;
    margin: 10px auto;
    position: absolute;
    top: -35px;
    width: calc(100% + 50px);
  }
  
  .circle {
    stroke: #007bff;
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }

  .menu-icon {
    filter: invert(1);
    max-height: 40px;
    margin-left: auto;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }