<div class="h3-1 text-center">
    Achievements
</div>

<div class="row mt-4 d-flex">
    <div class="col-6 col-sm-4 col-md-3 mb-4">
        <div class="card">
            <div class="p-2">
                <img class="img-fluid" src="/assets/achievement_first_screening.svg" />
            </div>
            
            <div class="card-body">
                <h5 class="card-title">First Screening</h5>
                <p class="card-text">Attend your first recommended screening </p>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-4 col-md-3 mb-4">
        <div class="card">
            <div class="p-2">
                <img class="img-fluid" src="/assets/achievement_what_a_year.svg" />
            </div>
            
            <div class="card-body">
                <h5 class="card-title">What a year!</h5>
                <p class="card-text">Complete all recommended screenings in a year</p>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-4 col-md-3 mb-4">
        <div class="card">
            <div class="p-2">
                <img class="img-fluid" src="/assets/achievement_titty_guardian.svg" />
            </div>
            
            <div class="card-body">
                <h5 class="card-title">Titty guardian</h5>
                <p class="card-text">Complete 3 annual mammography screenings in a row</p>
            </div>
        </div>
    </div>

    
    
    
    
</div>