<div class="row mt-4 d-flex">
    <div class="col-6 m-auto">
        <div class="avatar" routerLink="/profile">
            <img class="avatar__img" src="/assets/lilla.jpg" />
        </div>
    </div>
    <div class="col-12 m-auto">
        <h4 class="text-center mt-2">
            {{datastore.user.name}}
        </h4>
    </div>
</div>

<hr>

<div class="h3-1">
    Current screenings
</div>

<ng-template #modalTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{modalScreening.name}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <img class="img-fluid" alt="Card image cap" [src]="modalScreening.image">
        {{modalScreening.screeningInfo}}
        <hr>
        <div class="row">
            <div class="col-6">
                <a class="btn btn-primary btn-block" href="https://maps.google.com/?q=Macroklinika" >Navigate</a>
            </div>
            <div class="col-6">
                <button class="btn btn-primary btn-block">Check in</button>
            </div>
        </div>
    </div>
</ng-template>

<div *ngFor="let currentScreening of currentScreenings">
    <div class="col-md-3 col-sm-6 col-8 mx-auto mb-4 cursor-hand" (click)="openModal(currentScreening.screening, modalTemplate)">
        <div class="card">
            <img class="img-fluid" alt="Card image cap" [src]="currentScreening.screening.image">
            <div class="card-body">
                <h5 class="card-title">{{currentScreening.screening.name}}</h5>
                <p class="card-text">Due in: {{helpers.formatDistance(currentScreening.date, now)}}</p>
            </div>
        </div>
    </div>
    <div *ngIf="currentScreenings.length === 0 || currentScreenings == null" style="text-align: center;">
        <p>Yay, you have no expired screenings!</p>
        <img class="img-fluid" src="/assets/octopus.svg" />
    </div>
</div>

<hr>

<div class="h3-1">
    Next screenings
</div>

<div *ngFor="let nextScreening of nextScreenings">
    <div class="col-md-3 col-sm-6 col-8 mx-auto mb-4 cursor-hand" (click)="openModal(nextScreening.screening, modalTemplate)">
        <div class="card">
            <img class="card-img-top" alt="Card image cap" [src]="nextScreening.screening.image">
            <div class="card-body">
                <h5 class="card-title">{{nextScreening.screening.name}}</h5>
                <p class="card-text">Due in: {{helpers.formatDistance(now, nextScreening.date)}}</p>
            </div>
            <ng-template #template>
                <div class="modal-header">
                    <h4 class="modal-title pull-left">{{nextScreening.screening.name}}</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="img-fluid" alt="Card image cap" [src]="nextScreening.screening.image">
                    {{nextScreening.screening.screeningInfo}}
                </div>
            </ng-template>
        </div>
    </div>
</div>