<div class="row mt-5 d-flex">
    <div class="col-4 m-auto">
        <div class="avatar" routerLink="/profile">
            <div class="avatar__container">
                <img class="avatar__img" src={{datastore.user.profilePictureUrl}} />
            </div>
            <svg viewBox="0 0 36 36" class="circular-chart">
                <path class="circle" stroke-dasharray="93, 100" d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831" />
            </svg>
        </div>
    </div>
    <div class="col-12 m-auto">
        <h4 class="text-center mt-4">
            {{datastore.user.name}}
        </h4>
    </div>
</div>

<hr>

<div class="p-4 bg-lightcoral">
    <div class="h3-1">
        Expired screenings
    </div>

    <ng-template #modalTemplate>
        <div class="modal-header">
            <h4 class="modal-title pull-left">{{modalScreening.name}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" *ngIf="isGlobal; else modalSuccess">
            <img class="img-fluid" alt="Card image cap" [src]="modalScreening.image">
            {{modalScreening.screeningInfo}}
            <hr>
            <div class="row">
                <div class="col-6">
                    <a class="btn btn-primary btn-block" href="https://maps.google.com/?q=Macroklinika">Navigate</a>
                </div>
                <div class="col-6">
                    <button class="btn btn-primary btn-block" (click)="modalSuccessFunction()">Check in</button>
                </div>
            </div>
        </div>
        <ng-template #modalSuccess>
            <div class="modal-body">
                <div>
                    <div class="text-center">
                        <div class="col-8 mx-auto mb-5">
                            <img class="img-fluid" src="/assets/achievement_titty_guardian.svg" />
                        </div>
                        <h4>
                            Congratulation!
                        </h4>
                        <div>
                            You completed 3 annual mammography screenings in a row and earned the <b>Titty Guardian</b> achievement!
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="mt-auto">
                    <div (click)="modalSuccessFunction()">
                        <button class="btn btn-primary btn-lg btn-block" aria-label="Close" (click)="modalRef.hide()">
                            Awesome!
                        </button>
                    </div>
                </div>
            </div>
        </ng-template>
    </ng-template>
    <div *ngFor="let expiredScreening of expiredScreenings">
        <div class="col-md-3 col-sm-6 col-10 mx-auto mb-4 cursor-hand"
            (click)="openModal(expiredScreening.screening, modalTemplate)">
            <div class="card">
                <img class="img-fluid" alt="Card image cap" [src]="expiredScreening.screening.image">
                <div class="card-body">
                    <h5 class="card-title">{{expiredScreening.screening.name}}</h5>
                    <p class="card-text">Expired: {{helpers.formatDistance(expiredScreening.date, now)}} ago</p>
                </div>
            </div>
        </div>
        <div *ngIf="expiredScreenings.length === 0 || expiredScreenings == null" style="text-align: center;">
            <p>Yay, you have no expired screenings!</p>
            <img class="img-fluid" src="/assets/octopus.svg" />
        </div>
    </div>
</div>

<hr>

<div class="h3-1">
    Next screenings
</div>

<div *ngFor="let nextScreening of nextScreenings">
    <div class="col-md-3 col-sm-6 col-10 mx-auto mb-4 cursor-hand"
        (click)="openModal(nextScreening.screening, modalTemplate)">
        <div class="card">
            <img class="card-img-top" alt="Card image cap" [src]="nextScreening.screening.image">
            <div class="card-body">
                <h5 class="card-title">{{nextScreening.screening.name}}</h5>
                <p class="card-text">Due in: {{helpers.formatDistance(now, nextScreening.date)}}</p>
            </div>
            <ng-template #template>
                <div class="modal-header">
                    <h4 class="modal-title pull-left">{{nextScreening.screening.name}}</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="img-fluid" alt="Card image cap" [src]="nextScreening.screening.image">
                    {{nextScreening.screening.screeningInfo}}
                </div>
            </ng-template>
        </div>
    </div>
</div>